body{
    margin:0;
}
.box{
    box-sizing: border-box;
    width: 5rem;
    height: 5rem;
    color: white;
    font-size: 3rem;
    padding: 5px 5px 2px 2px;
    border: 2px dotted black;
    margin: 5px;

}

.vermelho{
    background-color: red;
    border-width: 5px 0 5px 2px;
    border-style: dashed;
}
.azul{
    background-color: blue;
    border-style: double;
}
.verde{
    background-color: green;
    border-style: solid;
}