<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" href="./_css/style.less">
    <title>Document</title>
</head>
<body>
    <h1>The Bird with Nine Heads</h1>
    <p>Long, long ago, there once lived a king and a queen who had a daughter. One day, when the daughter went walking in the garden, a tremendous storm suddenly came up and carried her away with it. Now the storm had come from the bird with nine heads, who had robbed the princess, and brought her to his cave. The king did not know whither his daughter had disappeared, so he had proclaimed throughout the land: “Whoever brings back the princess may have her for his bride!”</p>
    
    <script src="https://cdn.jsdelivr.net/npm/less@4" ></script>

</body>
</html>