<app-card titulo="Primeiro Componente" cor="#34eb98">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo="Segundo componente" cor="#bc66d4">
    <app-segundo-componente></app-segundo-componente>
</app-card>
<app-card titulo="Pipes">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>
<app-card titulo="data bind" cor="#2132bc">
    <app-two-way-data-bind></app-two-way-data-bind>
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-componente-personalizado nome="Lucas" sobrenome="Figueredo"></app-componente-personalizado>
<app-componente-pai></app-componente-pai>
<app-exemplo-servicos1></app-exemplo-servicos1>
<app-exemplo-servicos2></app-exemplo-servicos2>
<app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>