<header>
    <h1>
        <span>ProWay</span> <span>Computers</span>
    </h1>
    <nav>
        <ul>
            <li><a>
                Produtos
            </a></li>
            <li><a>
                    Carrinho
                    <i class="fa-solid fa-cart-shopping-fast"></i>
             </a></li>
            <li><a>Contato</a></li>
            <li><a>
                    Facebook
                    <i class="fa-brands fa-facebook-f"></i>
            </a></li>
            <li><a>
                    Linkedin
                    <i class="fa-brands fa-linkedin-in"></i>
            </a></li>
            <li><a>
                    Github
                    <i class="fa-brands fa-github-alt"></i>
            </a></li>
        </ul>
    </nav>
</header>